.checkout-item{
    display:flex;
    gap: 30px;
    text-align: left;
    height:100px;
}
.checkout-item-image{
    width:60px;
}
.checkout-item-content{
    padding-top:8px;
}
.checkout-item-title{
    font-size:15px;
    width:300px;
    height:40px;
    overflow-y: hidden;
}
.checkout-item-rate{
    font-size:14px;
    font-weight:400;
    align-self:flex-start;
}
