.basket-item{
    display:flex;
    gap:30px;
    text-align: left;
    height:180px;
}
.basket-item-image{
    width:160px;
}
.basket-item-content{
    padding-top:20px;
}
.basket-item-title{
    font-size:20px;
}
.basket-item-rate{
    font-size:18px;
    font-weight:400;
    align-self:flex-start;
}
.remove-product{
    font-size:16px;
    color:rgb(0,113,133);
}
