*{
    margin:0;
    padding:0;
}
.cart-page{
    width:100%;
    display:flex;
}
.cart-left{
    width:75%;
    display:flex;
    flex-direction: column;
    margin-right:90px;
}
.cart-top-left.empty{
    width:100%;
    background-color: white;
    display:flex;
    gap:40px;
    margin:20px 0 20px 20px;
    padding:60px 30px 30px 30px;
}
.cart-top-left.notempty{
    width:100%;
    background-color: white;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    margin:20px 0 20px 20px;
    padding:20px 30px 30px 30px;
}
.notempty h2{
    font-weight:500;
    font-size:32px;
}
.notempty h4{
    font-weight:400;
    font-size:18px;
    padding-bottom:20px;
} 
.cart-top-left.empty img{
    width:350px;
}
.cart-top-left .empty-cart{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
}
.empty-cart .blue-subtitle{
    color:rgb(0,113,133);
    font-weight:500;
    font-size:15px;
    margin-bottom:20px;
}
.buttons{
    display:flex;
    gap:15px;
}
.yellow-button{
    background-color:rgb(255,216,20);
    border:none;
    outline:none;
    font-size:14px;
    border-radius:8px;
    padding:8px 20px;
}
.white-button{
    background-color: white;
    border:solid 1px lightgrey;
    outline:none;
    font-size:14px;
    border-radius:8px;
    padding:8px 20px;
}
.cart-bottom-left{
    background-color: white;
    width:100%;
    padding:0 30px;
    height:70px;
    margin:0 20px;
}
.cautionary-text{
    font-size:12px;
    text-align:left;
    padding:20px;
}
.cart-right.empty{
    background-color: white;
    margin:20px 20px 20px 0;
    border-radius:6px;
    padding:15px;
}
.cart-right{
    width:18%;
}
.subtotal{
    background-color: white;
    padding:20px;
    margin:20px 20px 20px 0;
    border-radius:6px;
    padding:15px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:20px;
}
.subtotal small{
    display:flex;
    gap:10px;
}
.subtotal button{
    align-self:center;
    padding-left:50px;
    padding-right:50px;
}
.cart-right h3{
    text-align:left;
    margin-bottom:10px;
}
.cart-right-bottom{
    background-color: white;
    margin:20px 20px 20px 0;
    border-radius:6px;
    padding:15px;
}
.list-product{
    display:flex;
    flex-direction:column;
    gap:10px;
}
.basket-items{
    display:flex;
    flex-direction: column;
    gap:30px;
}