.navbar{
    display:flex;
    background-color:rgb(35,47,62);
    color:white;
    font-size:15px;
    font-weight:500;
    padding:5px 4px;
}
.hamburger{
    color:white;
    height:22px;
}
.option{
    display:flex;
    justify-content:center;
    padding: 8px 7px;
}
.option:first-child{
    font-weight:600;
}
.bordered{
    &:hover{
        border:solid white 1px;
        cursor:pointer;
    }
}