.navbar{
    display:flex;
    gap:14px;
    background-color:rgb(35,47,62);
    color:white;
    font-size:15px;
    font-weight:500;
    padding:12px 0 12px 15px;
}
.hamburger{
    color:white;
    height:22px;
}
.option{
    display:flex;
    justify-content:center;
}
.option:first-child{
    font-weight:600;
}